<form action="/nuevapersona" method="post" class="card bg-dark text-light">
  <div class="mb-3">
    <label for="name"> escribe tu nombre</label>
    <input
      type="text"
      name="name"
      placeholder="escribe tu nombre"
      class="form-control rounded-0 bg-dark border-0 text-white"
      autofocus
    />
  </div>
  <div class="mb-3">
    <label for="name"> escribe tu email</label>
    <input
      type="text"
      name="email"
      placeholder="escribe tu email"
      class="form-control rounded-0 bg-dark border-0 text-white"
      autofocus
    />
  </div>
  <div class="mb-3">
    <label for="name"> escribe tu email</label>
    <input
      type="text"
      name="telefono"
      placeholder="escribe tutelefono"
      class="form-control rounded-0 bg-dark border-0 text-white"
      autofocus
    />
  </div>

  <button  class="btn btn-success">Success</button>
</form>
