<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="/" class="brand-link">
    <span class="brand-text font-weight-light">Inteligencia Artificial </span>
  </a>


  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

      <div class="info">

        {% if current_user.fullname in current_user.fullname%}
        <a href="#" class="d-block"> {{ current_user.fullname }}</a>
        <a class="btn btn-danger" href="/logout">Cerrar sesion</a>
        {%else%}
        <a class="btn btn-danger" href="/logout">login</a>
        {% endif %}

        
      </div>
    </div>

    <!-- SidebarSearch Form -->


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item">
          <a href={{ url_for('Datos.datos', question_id=current_user.id)}} class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Menu

            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Perfil
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="/Historia_usuarios" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Usuario</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-header">Herramientas</li>


        <li class="nav-item">
          <a href="/Cargar_cvs" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Cargar CVS
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>

        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Extras
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <form action="\Historia_cvs" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <input type="hidden" value={{current_user.id}} name="rr" >
              
                  <p>
                    <input type="submit" type="color" class="btn btn-success" value="HIstorias CSV">
                  

                  </p>
                </a>
              </form>
            </li>
          </ul>
        </li>
    </nav>
    <!-- /.sidebar-menu -->
  </div>





  <!-- /.sidebar -->
</aside>