{%extends 'layout.html'%}
{%block contenido%}


<div class="row">
  <div class="col-md-5">
    {%include('partials/_formulario.html')%}
  </div>
  <div class="col-md-7">

    {% for persona in personas %}
    <div class="card mb-1 text-white bg-dark">
      <div class="card-body py-2 px-3">
        <div class="d-flex justify-content-between">
          <h5 class="card-title h6">{{persona.name}}</h5>
          <div>
            <a href="{{url_for('Crud.eliminar_persona',id=persona.id)}}"
              class="btn btn-danger btn-sm rounded-0">eliminar</a>
            <a href="{{url_for('Crud.actualizar_persona',id=persona.id)}}"
              class="btn btn-warning btn-sm rounded-0">actualizar</a>
          </div>
        </div>
      </div>
      <p>{{persona.email}}</p>
      <p>{{persona.telefono}}</p>
    </div>
    {%endfor%}
  </div>
</div>

</div>




{%endblock%}