<html>
<body>
    <h3>Abandono tilin</h3>

<div>
  <form action="/result" method="POST">
    <label for="sepal_length">EDAD_DE_INGRESO: </label>
    <input type="text" id="EDAD_DE_INGRESO" name="EDAD_DE_INGRESO">
    <br>
    <label for="sepal_width">SEXO: </label>
    <input type="text" id="SEXO" name="SEXO">
    <br>
    <label for="petal_length">Tipo_de_poblacion_a_la_que_pertenece: </label>
    <input type="text" id="Tipo_de_poblacion_a_la_que_pertenece" name="Tipo_de_poblacion_a_la_que_pertenece">
    <br>
    <label for="petal_width">ESTADO_CIVIL: </label>
    <input type="text" id="ESTADO_CIVIL" name="ESTADO_CIVIL">
    <br>
    <br>
    <label for="petal_width">¿como_financia_sus_estudios?: </label>
    <input type="text" id="como_financia_sus_estudios" name="como_financia_sus_estudios">
    <br>
    <br>
    <label for="petal_width">CIRCUNSCRIPCION: </label>
    <input type="text" id="CIRCUNSCRIPCION" name="CIRCUNSCRIPCION">
    <br>
    <br>
    <label for="petal_width">ESTRATO: </label>
    <input type="text" id="ESTRATO" name="ESTRATO">
    <br>
    <br>
    <label for="petal_width">¿dispone_de_un_computador_permanente?: </label>
    <input type="text" id="dispone_de_un_computador_permanente" name="dispone_de_un_computador_permanente">
    <br>
    <br>
    <label for="petal_width">¿posee_conexion_permanente_a_internet?: </label>
    <input type="text" id="posee_conexion_permanente_a_internet" name="posee_conexion_permanente_a_internet">
    <br>
    <button hrfe="Templates\Subir.html">enviar</button>
    <br>
  
    
  </form>
  <h1>subir archivo</h1>
  <form action="/Subir" method="post" enctype="multipart/form-data">
      <input type="file" id="subirarchivo" name="subirarchivo" accept=".csv">
      <input type="submit">
  </form>

  <h1>Crud</h1>
  <form action="/Crud" >
        <button>crud</button>
  </form>
  
</div>
</body>
</html>